In [1]:
import pandas as pd

df_core_selection = pd.read_csv('core-selection-list-nl.csv')
df_core_selection.head()

,product,isin,exchange,benchmark,region,esgRating,totalExpanseRation,translateView,linkKid
0,ISHARES EURO STX50,IE0008471009,Euronext Amsterdam & Tradegate,Euro STOXX 50,Europa,AA,0.10,Bekijk,https://doc.morningstar.com/LatestDoc.aspx?cli...
1,ISHARES CHINA 25,IE00B02KXK85,Euronext Amsterdam & Tradegate,FTSE China 25,China,A,0.74,Bekijk,https://doc.morningstar.com/LatestDoc.aspx?cli...
2,ISHARES FTSE 100,IE0005042456,Euronext Amsterdam & Tradegate,FTSE 100-index,United Kingdom,AA,0.07,Bekijk,https://doc.morningstar.com/LatestDoc.aspx?cli...
3,ISHARES ESTOXX DIV,IE00B0M62S72,Euronext Amsterdam & Tradegate,STOXX Europe Select Dividend 30,Europa,AA,0.40,Bekijk,https://doc.morningstar.com/LatestDoc.aspx?cli...
4,ISHARES AEX,IE00B0M62Y33,Euronext Amsterdam & Tradegate,AEX Total Net Return,Europa,AA,0.30,Bekijk,https://doc.morningstar.com/LatestDoc.aspx?cli...

In [2]:
import requests

user_agent_headers = {
    'User-Agent': 'Mozilla/5.0 (Macintosh; Intel Mac OS X 10_10_1) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/39.0.2171.95 Safari/537.36'
}

url = 'https://query2.finance.yahoo.com/v1/finance/search?q={isin}'

with requests.Session() as s:
    response = s.get(url.format(isin='IE0008471009'), headers=user_agent_headers)
    response.json()['quotes'][0]['symbol']

In [3]:
import time

tickers = {}

with requests.Session() as s:
    for isin in df_core_selection['isin']:
        # Crude rate-limiting
        time.sleep(0.1)
        
        response = s.get(url.format(isin=isin), headers=user_agent_headers)
        quotes = response.json()['quotes']

        if len(quotes) == 0:
            print(f'Could not find yf data for {isin}')
            continue
        
        ticker = quotes[0]['symbol']
        tickers[isin] = ticker

Could not find yf data for IE00B53L4X51

In [4]:
import yfinance as yf

vwrl = tickers['IE00B3RBWM25']

df_vwrl = yf.Ticker(vwrl).history(period='max')
df_vwrl.tail()

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2024-09-16 00:00:00+01:00,135.149994,135.509995,134.619995,135.139999,12083,0.0,0.0,0.0
2024-09-17 00:00:00+01:00,135.779999,136.199997,135.669998,135.910004,10362,0.0,0.0,0.0
2024-09-18 00:00:00+01:00,135.669998,135.820007,135.190002,135.199997,25748,0.0,0.0,0.0
2024-09-19 00:00:00+01:00,136.899994,137.570007,136.673004,137.449997,15721,0.0,0.0,0.0
2024-09-20 00:00:00+01:00,137.350006,137.899994,136.520004,136.600006,43344,0.0,0.0,0.0

In [9]:
import json

with open('data/tickers.json', 'w+') as f:
    json.dump(tickers, f)

for isin, ticker in tickers.items():
    df = yf.Ticker(ticker).history(period='max')
    df.to_csv(f'data/{isin}-{ticker}.csv')

$FR0007052782.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)

$FR0007052782.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)

$IE00B44T3H88.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)

$IE00B44T3H88.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)

$IE00BMC38736.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)

$IE00BMC38736.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)

$IE000I8KRLL9.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)

$IE000I8KRLL9.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)

$IE00BMDH1538.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)
$IE00BMDKNW35.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)
$IE00BNG8L278.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)

$IE00BMDH1538.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)
$IE00BMDKNW35.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)
$IE00BNG8L278.SG: possibly delisted; No price data found  (1d 1925-10-16 -> 2024-09-21)